body {
  font-family: Verdana Bold, Verdana;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
}

p {
  line-height: 1.4;
}

footer {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}