@import '../colours.scss';
.profile--container {
  &.emo {
    background-color: black;
    background-image:  url('../../../../public/emo.jpeg');

    #profile-style-radio-group {    
      span {
        color: white;
      }
    }

    .profile {
      &--section {
        background-color: hsla(0, 0%, 0%, 0.75);
        border: 4px solid white;
        color: white;
      }

      &--section-heading {
        background-color: black;
        color: var(--dark-pink);
      }

      &--network {
        background-color: hsla(0, 0%, 0%, 0.75);
        color: white;
        outline: none;
        border: 1px solid white;
      }

      // Projects.
      &--section-friends-project {
        background-color: hsla(0, 0%, 0%, 0.75);
        color: white;
      }
    }

    // Sidebar.
    .profile--sidebar {    
      .sidebar-component {
        border: 3px solid white;
        background-color: hsla(0, 0%, 0%, 0.75);
        color: white;

        &--title {
          background-color: black;
        }
      }

      .interests {
        &--category {
          background-color: #706e6e;
          opacity: 0.9;
          color: black;
        }
      }
    }
  }
}
