@import '../colours.scss';

.profile--container {
  &.pink {
    background-color: pink;
    background-image:  url('../../../../public/heart-bg.jpeg');
    
    #profile-style-radio-group {    
      span {
        color: var(--dark-pink);

        ~ span {
          color: black;
        }
      }
    }

    .profile {
      &--section {
        border: 4px solid var(--dark-pink);
      }

      &--section-heading {
        background-color: var(--dark-pink);
        color: white;
      }

      &--network {
        border: 4px solid var(--dark-pink);
        outline: none;
      }
    }

    // Sidebar.
    .profile--sidebar {    
      .sidebar-component {
        border: 3px solid var(--dark-pink);

        &--title {
          background-color: var(--dark-pink);
        }
      }

      .interests {
        &--category {
          background-color: hsla(327, 89%, 82%, 0.8);
          color: black;
        }
      }
    }

    // Projects.  
    .profile--section-friends-project {
      background-color: var(--dark-pink);
      color: white;
    }
  }
}
