@import '../../app.scss';

.profile {
  &--container {
    width: 100vw;
    max-width: 100%;
    column-gap: 3rem;
    row-gap: 2rem;;
    padding: 2rem;
    border: 4px transparent;
    
    @media screen and (min-width: 800px) {
      display: grid;
      grid-template-columns: minmax(0px, 1fr) minmax(0px, 2fr);
    }
    
    @media screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: minmax(0px, 2fr) minmax(0px, 4fr);
    }
  }

  &--network {
    background-color: hsla(0, 0%, 100%, 0.8);
    border: 4px solid transparent;
    outline: 1px solid black;
    padding: 3rem 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0 auto 2rem auto;
    @media screen and (min-width: 800px) {
      display: flex;
    }
  }

  &--section {
    margin-bottom: 2rem;
    background-color: hsla(0, 0%, 100%, 0.8);

    &-heading {
      background-color: $medium-blue;
      color: #D3610F;
      font-weight: 600;
      padding: 3px 1rem;
    }

    &-content {
      padding: 2rem 1rem;
    }

    &-friends-grid {  
      display: grid;
      flex-wrap: wrap;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(1, 1fr);

      @media screen and (min-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
